{{!--
Partial : Event ID
--}}

<section class="event">
    <div class="container row">
        <div class="event-details">
            <h2> {{ article.title }} </h2>

            <div class="article-container">
                <img src="/assets/images/Articles/{{article.img}}" alt="">
                <p>{{ article.genre_1}}, {{ article.genre_2 }}</p>
                <p>{{ article.synopsis }} </p>
            </div>
            <hr>

            {{!-- Listes tomes (cf: DB) --}}


        </div>
    </div>
</section>