{{!--
Partial : Event ID
--}}

<section class="event">
    <div class="container">
        <div class="row event-details">
            <h2> {{ title }} </h2>
            <img src="{{article.img}}" alt="">
            <p>{{ genre_1}}, {{ genre_2 }}</p>
            <p>{{ synopsis }} </p>
        </div>
</section>