{{!--
Partial : Event ID
--}}

<section class="event">
    <div class="container">
        <div class="row event-details">

            <h2> {{ article.title }} </h2>
            <img src="/assets/images/Articles/{{article.img}}" alt="">
            <p>{{ article.genre_1}}, {{ article.genre_2 }}</p>
            <p>{{ article.synopsis }} </p>

        </div>
    </div>
</section>
